
@{
    ViewBag.Title = "GetImg";
}


@section css{
    <link href="~/frontend/plugins/dropzone/basic.css" rel="stylesheet" />
    <link href="~/frontend/plugins/dropzone/dropzone.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

}
@section table{
    Product
}
@section script{
    <script src="~/frontend/plugins/dropzone/dropzone.js"></script>
    <script src="~/frontend/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AppJS/Productimg.js"></script>
}
@section Customer{
    href="/Customer/CustomerDataTable"
}
@section Employee{
    href="/Employee/DataTable"
}
@section Product{
    href="/Product/DataTable"
}

<div class="row ">
    <div class="col-12">
        <div class="modal fade" id="prodModal">
            <div class="modal-content d-flex">
                <div class="modal-header">
                    <h4 class="modal-title">Details</h4>
                </div>
                <div class="modal-body">
                    <div id="tabledata_wrapper" class="dataTables_wrapper dt-bootstrap4">

                        <table class="table table-hover table-bordered" id="tabledata">
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content:center;">
                    <button type="button" class="btn btn-default" onclick="Update()" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>











<div class="row" style="justify-content:center">
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header">
                <h2 class="card-title">Product</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="prodId" placeholder="Enter product">
                        <button type="submit" data-toggle="modal" data-target="#prodModal" class="ml-2 btn btn-primary" onclick="GetTable()">Choose</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header">
                <h2 class="card-title">Image Name</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="imgName" placeholder="Enter img name" required>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Product Image</h3>
            </div>
            <div class="card-body">
                <div id="actions" class="row">
                    <div class="col-lg-6">
                        <div class="btn-group w-100">
                            <button type="button" class="btn btn-success col fileinput-button">
                                <i class="fas fa-plus"></i>
                                <span>Add Files</span>
                            </button>
                            <button type="reset" class="btn btn-warning col cancel">
                                <i class="fas fa-times-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="fileupload-process w-100">
                            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table table-striped files" id="previews">
                    <div id="template" class="row mt-2">
                        <div class="col-auto">
                            <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                        </div>
                        <div class="col d-flex align-items-center">
                            <p class="mb-0">
                                <span class="lead" data-dz-name></span>
                                (<span data-dz-size></span>)
                            </p>
                            <strong class="error text-danger" data-dz-errormessage></strong>
                        </div>
                        <div class="col-4 d-flex align-items-center">
                            <div class="progress progress-striped active w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-primary start">
                                    <i class="fas fa-upload"></i>
                                    <span>Start</span>
                                </button>
                                <button data-dz-remove class="btn btn-warning cancel">
                                    <i class="fas fa-times-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                <button data-dz-remove class="btn btn-danger delete">
                                    <i class="fas fa-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="glyphicon-upload post">
                <button type="submit" class="btn btn-primary col " id="submit">
                    <i class="fas fa-upload"></i>
                    <span> upload</span>
                </button>                
            </div>
        </div>
    </div>
</div>


@*<div class="row" style="justify-content:center;">
        <div class="col-md-2">

        </div>
    </div>*@











